RewriteEngine On

RewriteRule ^benchmark/(\w+)$ /benchmark.php?code=$1 [L,QSA]
RewriteRule ^benchmarks/(\w+)$ /benchmarks.php?site=$1 [L,QSA]
RewriteRule ^server/(\w+)$ /index.php?server=$1 [L,QSA]
RewriteRule ^site/(\w+)/edit$ /site_edit.php?code=$1 [L,QSA]
RewriteRule ^site/new$ /site_edit.php?code=new [L,QSA]
RewriteRule ^site/(\w+)(/(\w+))?$ /site.php?code=$1;timeframe=$3 [L,QSA]
RewriteRule ^stats/(\w+)$ /stats.php?timeframe=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]